<header class="py-5 hdr">
  <div class="container px-5 pb-5">
    <div class="row gx-5 align-items-center">
      <div class="col-xxl-5">
        <!-- Header text content-->
        <div class="text-center text-xxl-start">

          <div class="fs-3 fw-light text-muted mt-5">CoordiNation will help you...</div>
          <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">Optimize your world, Optimize with ease.</span></h1>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
            <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="/users/sign_up">Sign Up</a>
            <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="/users/sign_in">Log In</a>
          </div>
        </div>
      </div>
      <div class="col-xxl-7">
        <!-- Header profile picture-->
        <div class="d-flex justify-content-center mt-5 mt-xxl-0">
          <div class="profile bg-gradient-primary-to-secondary">
            <img class="logo mt-5" src="images/coordi_logo.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About section-->
<section class="bg-light" id="about">
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>About</h2>
        <p class="lead">Welcome to CoordiNation – your all-in-one solution for efficient organization and seamless collaboration </p>
        <strong style="font-size: larger">Our Mission</strong>
        <p>At CoordiNation, we're dedicated to simplifying the way teams coordinate and collaborate. Our mission is to empower individuals and organizations to streamline their workflows, enhance productivity, and achieve their goals with ease.</p>
        <strong style="font-size: larger">User Benefits</strong>
        <p>By choosing CoordiNation, you'll experience:</p>
        <ul>
          <li>Improved productivity through streamlined communication and collaboration</li>
          <li>Enhanced organization with intuitive tools for managing meetings, members, events, and tasks</li>
          <li>Greater accountability with clear visibility into project status and task progress</li>
          <li>Simplified teamwork with an easy-to-use platform that keeps everyone on the same page</li>
        </ul>
         <strong style="font-size: larger">Get Started Today</strong>
        <p class="lead">Ready to experience the benefits of CoordiNation for yourself? <a href="/users/sign_up">Sign up</a> now to start coordinating your team more efficiently than ever before!</p>
      </div>
    </div>
  </div>
</section>
<!-- Services section-->
<section id="services">
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>Key Features</h2>
        <ul>
          <li><strong style="font-size: larger">Efficient Meeting Minutes</strong>: Create detailed meeting minutes effortlessly, facilitating organized documentation of discussions, decisions, and action items.</li>
          <li><strong style="font-size: larger">Streamlined Member Management</strong>: Seamlessly manage members by adding, removing, or editing their details, ensuring smooth coordination within the application.</li>
          <li><strong style="font-size: larger">Intuitive Calendar View</strong>: Easily visualize upcoming events through a user-friendly calendar interface, enhancing scheduling and planning capabilities.</li>
          <li><strong style="font-size: larger">Task Tracking</strong>: Keep track of tasks with clarity, categorizing them into stages such as not started, in progress, and completed, fostering productivity and accountability.</li>
          <li><strong style="font-size: larger">User-Friendly Interface</strong>: Enjoy a user-centric design that prioritizes simplicity and accessibility, enhancing overall user experience and usability.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Contact section-->
<section class="bg-light" id="contact">
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>Contact us</h2>
        <p class="lead">Feel free to contact us if you have any questions or concerns!</p>

        <form>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="messageFirstName" placeholder="First name">
              </div>
              <div class="col">
                <input type="text" class="form-control" id="messageLastName" placeholder="Last name">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="messageEmail">Email address</label>
            <input type="email" class="form-control" id="messageEmail" placeholder="name@example.com">
          </div>

          <div class="form-group">
            <label for="messageBody">Body</label>
            <textarea class="form-control" id="messageBody" rows="3"></textarea>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
