<div id="<%= dom_id organization %>">
  <p>
    <strong>Name:</strong>
    <%= organization.name %>
  </p>

  <a href="/meeting_minutes">Meeting Minutes</a> // 
  <a href="/members">Members</a> //
  <a href="/tasks">Tasks</a> //
  <a href="/events">Events</a>

</div>

<hr>
