<div id="<%= dom_id meeting_minute %>">
  <p>
    <strong>Content:</strong>
    <%= meeting_minute.content %>
  </p>

  <p>
    <strong>Meeting date:</strong>
    <%= meeting_minute.meeting_date %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= meeting_minute.organization_id %>
  </p>

</div>
