<h1>Editing meeting minute</h1>

<%= render "form", meeting_minute: @meeting_minute %>

<br>

<div>
  <%= link_to "Show this meeting minute", @meeting_minute %> |
  <%= link_to "Back to meeting minutes", meeting_minutes_path %>
</div>
