<!-- app/views/meeting_minutes/index.html.erb -->

<p style="color: green"><%= notice %></p>

<h1>Meeting minutes</h1>

<div id="meeting_minutes">
  <% @meeting_minutes.each do |meeting_minute| %>
    <%#= render meeting_minute %>
    <p>
      <%= link_to meeting_minute.meeting_date, meeting_minute %>
    </p>
  <% end %>
</div>

<%= link_to "New meeting minute", new_meeting_minute_path %>
