<div class="container">

  <h1>Editing member</h1>

  <%= render "form", member: @member %>

  <br>

  <div>
    <%= link_to "Back to Members", members_organization_path(@organization) %>
  </div>

</div>
