<p style="color: green"><%= notice %></p>

<div class="container">

 <%= render partial: "shared/org_nav" %>

  <h3 class="text-center mt-4">Members</h3>


  <div id="members">
    <% @members.each do |member| %>

      <p>
        <%= link_to "#{member.first_name} #{member.last_name}", member %>
      </p>

    <% end %>
  </div>

  <%= link_to "New member", new_member_path(organization_id: @organization.id) %>

</div>
